.Main
  .MainHeader
    .MainHeader__upperBox
      .MainHeader__groupName test
      = link_to("Edit", "#", class: "MainHeader__editBtn")
    %p.MainHeader__userName Member: test_member
  .MainChatField
    = render "message"
  .MainFooter
    = form_with model: [@group, @message], local: true, class: "MainMessageForm" do |f|
      .MainMessageForm__InputBox
        = f.text_field :content, placeholder: "type a message", class: "MainMessageForm__message"
        = f.label :image, class: "MainMessageForm__imageIcon" do
          = icon("far", "image")
          = f.file_field :image, class: "MainMessageForm__imageBtn"
      = f.submit "Send", class: "MainMessageForm__SendBtn"
