.Main
  .MainHeader
    .MainHeader__upperBox
      .MainHeader__groupName
        = @group.name
      = link_to "Edit", edit_group_path(@group), class: "MainHeader__editBtn"
    %p.MainHeader__userName
      Member : 
      - @group.users.each do |user|
        = user.name
  .MainChatField
    = render @messages
  .MainFooter
    = form_with model: [@group, @message], local: true, class: "MainMessageForm" do |f|
      .MainMessageForm__InputBox
        = f.text_field :content, placeholder: "type a message", class: "MainMessageForm__message"
        = f.label :image, class: "MainMessageForm__imageIcon" do
          = icon("far", "image")
          = f.file_field :image, class: "MainMessageForm__imageBtn"
      = f.submit "Send", class: "MainMessageForm__SendBtn"
