.Side
  .SideHeader
    %p.SideHeader__name 
      = current_user.name
    .SideHeader__icons
      = link_to(new_group_path) do
        = icon('fas', 'edit', class: 'SideHeader__groupBtn')
      = link_to edit_user_path(current_user) do
        = icon('fas', 'cog', class: 'SideHeader__userCogBtn')
  .SideGroupField
    .SideGroupList
      - current_user.groups.each do |group|
        = link_to group_messages_path(group), class: "SideGroupList__linkBox" do
          %p.SideGroupList__groupName 
            = group.name
          %p.SideGroupList__message
            - if group.messages != []
              = group.messages.order(updated_at: :desc).limit(1)[0][:content]
            - else
              メッセージはまだありません