.Side
  .SideHeader
    %p.SideHeader__name 
      = current_user.name
    .SideHeader__icons
      = link_to(new_group_path) do
        = icon('fas', 'edit', class: 'SideHeader__groupBtn')
      = link_to edit_user_path(current_user) do
        = icon('fas', 'cog', class: 'SideHeader__userCogBtn')
  .SideGroupField
    .SideGroupList
      = link_to("#", class: "SideGroupList__linkBox") do
        %p.SideGroupList__groupName グループ名1
        %p.SideGroupList__message メッセージ1
      = link_to("#", class: "SideGroupList__linkBox") do
        %p.SideGroupList__groupName グループ名2
        %p.SideGroupList__message 複数行のメッセージ複数行のメッセージ複数行のメッセージ複数行のメッセージ複数行のメッセージ複数行のメッセージ複数行のメッセージ複数行のメッセージ複数行のメッセージ複数行のメッセージ複数行のメッセージ複数行のメッセージ
      = link_to("#", class: "SideGroupList__linkBox") do
        %p.SideGroupList__groupName グループ名3
        %p.SideGroupList__message メッセージ3